.nav {
    background: url('./../assets/images/my-photo.png') no-repeat;
    background-size: cover;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    align-items: baseline;
    height: 400px;
}

.logo img {
    width: 90px;
}

.menu ul li {
    display: inline-block;
    margin-right: 30px;
}